<div id="main">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link text-white" href="#" style="font-size:20px "><img src="assets/images/earth.png" height="40px;" width="40px;"> Country</a>
      </li>
    </ul>

    <div class="text-center text-white" style="margin-top: 25vh;">
      <h1 class="font-weight-bold">Countries Information On Your Hand.</h1><br>
      <h5 style="font-weight: normal;">This site gives information about different countries across the world. Information used on this website is taken from REST api.</h5>
      <br><br>
      <button class="btn btn-primary">Let's Go</button>
    </div>
</div>
